@import "../../../scss/index.scss";

.footer {
  background-color: $background-grey-light;
  border-top: 3px solid $primary-color;

  &__copyright {
    margin-top: 30px;

    .ant-col {
      color: $font-dark-light;

      &:last-of-type {
        text-align: right;
      }
    }
  }
}
